@model IEnumerable<WebApp_03_tilausdb.Models.Tilaukset>

@{
    ViewBag.Title = "TilausRivit";
}

@section scripts{
    <script type="text/javascript">

        $(function () {
            $(".showOrderClass").click(function () {
                let tilausId = $(this).data("tilausid");
                //alert("Klikkasit tilausnumeroa: " + tilausId);
                var url = "/Tilaukset/_TilausRivi/?tilausid=" + tilausId;
                $("#tilausDetails_" + tilausId).append("<b>Ladataan tilauksen " + tilausId + " tivejä...</b>");

                //replaceng div with the data that we get from kontroller/partialview
                var $detailDiv = $("#tilausDetails_" + tilausId);
                $.get(url, function (data) {
                    $detailDiv.replaceWith(data);
                });
            });

        });



    </script>
    
    
    } 
<h2>TilausRivit</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="container-fluid">
    <div class="triviHeader">
        <div class="triviH">@Html.DisplayNameFor(model => model.TilausID)</div>

        <div class="triviH">@Html.DisplayNameFor(model => model.Toimitusosoite)</div>
        <div class="triviH">@Html.DisplayNameFor(model => model.Tilauspvm)</div>
        <div class="triviH">@Html.DisplayNameFor(model => model.Toimituspvm)</div>
        <div class="triviH">Asiakas nimi</div>
        <div class="triviH">@Html.DisplayNameFor(model => model.Postitoimipaikat.Postitoimipaikka)</div>

        @*<th></th>*@
    </div>




    <div id="accordion">


        @foreach (var item in Model)
        {
                       
        <div class="card">
                <a class="card-link showOrderClass" data-tilausid="@item.TilausID" data-toggle="collapse" href="#collapse_@item.TilausID">
            <div class="card-header triviR">
                    <div>
                        <div class="trivi">@Html.DisplayFor(modelItem => item.TilausID)</div>

                        <div class="trivi">@Html.DisplayFor(modelItem => item.Toimitusosoite)</div>
                        <div class="trivi">@Html.DisplayFor(modelItem => item.Tilauspvm)</div>
                        <div class="trivi">@Html.DisplayFor(modelItem => item.Toimituspvm)</div>
                        <div class="trivi">@Html.DisplayFor(modelItem => item.Asiakkaat.Nimi)</div>
                        <div class="trivi">@Html.DisplayFor(modelItem => item.Postitoimipaikat.Postitoimipaikka)</div>
                    </div>


            </div>
                </a>
            <div id="collapse_@item.TilausID" class="collapse" data-parent="#accordion">
                <div class="card-body">
                        <div id="tilausDetails_@item.TilausID"></div>
                </div>
            </div>


        </div>
                       
                    }
    </div>
</div>