<!DOCTYPE html>
<html>

<head margin:0 style="background-color:blueviolet">
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>

<body style="background-color:#BFEFFF; padding:0px">

    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #00688B">
        <a class="navbar-brand" href="#">TilausDB </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <li class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="~/home/Index">Index</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/home/About">About<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/home/contact">Contacts</a>

                </li>

                @*----------------------------------------------HOMAA: PITÄÄ OLLA KIRJOITETTUNA SISÄÄN NÄKEMÄÄN NAVBAARIN TÄYSI SISÄLLÖN------------------------------------------------*@
                @*------------------------------------------tuotteet--------------------------------------*@



                @if (Session["UserName"] != null)
                {


                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Tuotteet</a>
                        <div class="dropdown-menu" style="        position: absolute;
        transform: translate3d(0px, 41px, 0px);
        top: 0px;
        left: 0px;
        will-change: transform;" x-placement="bottom-start">
                            <a class="dropdown-item" href="~/tuotteets/index">Tuotteiden lista</a>
                            <a class="dropdown-item" href="~/tuotteets/create">Luo uusi tuote</a>
                            <a class="dropdown-item" href="~/tuotteets/ProdCards">Product cards</a>
                            <div class="dropdown-divider"></div>
                            @*<a class="dropdown-item" href="#">Separated link</a>*@
                        </div>
                    </li>
                    @*------------------------------------------asiakkaat--------------------------------------*@
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Asiakkaat</a>
                        <div class="dropdown-menu" style="position: absolute; transform: translate3d(0px, 41px, 0px); top: 0px; left: 0px; will-change: transform;" x-placement="bottom-start">
                            <a class="dropdown-item" href="~/asiakkaats/index">Asiakkaiden lista</a>
                            <a class="dropdown-item" href="~/asiakkaats/create">Lisää asiakas</a>
                        </div>
                    </li>
                    @*------------------------------------------postitoimipaikat--------------------------------------*@

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Postitoimipaikat</a>
                        <div class="dropdown-menu" style="position: absolute; transform: translate3d(0px, 41px, 0px); top: 0px; left: 0px; will-change: transform;" x-placement="bottom-start">
                            <a class="dropdown-item" href="~/postitoimipaikat/index">Postitoimipaikat</a>
                            <a class="dropdown-item" href="~/postitoimipaikat/create">Uusi postitoimipaikka</a>
                        </div>
                    </li>

                    @*------------------------------------------tilaukset--------------------------------------*@

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Tilaukset</a>
                        <div class="dropdown-menu" style="position: absolute; transform: translate3d(0px, 41px, 0px); top: 0px; left: 0px; will-change: transform;" x-placement="bottom-start">
                            <a class="dropdown-item" href="~/tilaukset/index">Tilaukset</a>
                            <a class="dropdown-item" href="~/tilaukset/create">Uusi tilaus</a>
                        </div>
                    </li>
                    @*------------------------------------------tilausrivit--------------------------------------*@

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Tilausrivit</a>
                        <div class="dropdown-menu" style="position: absolute; transform: translate3d(0px, 41px, 0px); top: 0px; left: 0px; will-change: transform;" x-placement="bottom-start">
                            <a class="dropdown-item" href="~/tilausrivit/index">tilausrivit</a>
                            <a class="dropdown-item" href="~/tilausrivit/create">Uusi tilausrivi</a>
                        </div>
                    </li>
                }
                @*------------------------------------------LOGIN-------------------------------------*@
                <li class="nav-item">


                    @if (Session["UserName"] != null)
                    {

                        <a class="nav-link" style="color:deepskyblue;"> Welcome, @Session["UserName"] !</a>
                    }



                </li>
                <li class="nav-item">


                    @if (Session["UserName"] == null)
                    {
                        <a class="nav-link" style="color:chartreuse" href="~/home/Login">Login</a>

                    }
                    else
                    {
                        <a class="nav-link" style="color:chartreuse" href="~/home/Logout">Logout</a>
                    }


                </li>
            </ul>



            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
            </form>
        </li>
    </nav>




    <div class="container body-content">
        @RenderBody()
        

    </div>

    <div style="clear:both">
        <footer>
            &copy; @DateTime.Now.Year - My ASP.NET Application
    </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
