@model WebApp_03_tilausdb.Models.Tuotteet

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tuotteet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ahinta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ahinta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kuvalinkki)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kuvalinkki)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TuoteID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
